.box {
  background-color: #cdcdcd;
  margin: 1rem 5rem;
  display: flex;
}

.box .book-img {
  width: 25%;
  height: 50%;
  margin: 1.5rem;
  border-radius: 5px;
}

.box .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem auto;
}
.box h1 {
  margin: 1rem 0;
}
.box h3 {
  margin-bottom: 1rem;
}

.box button {
  margin: 1rem 0;
  width: 4rem;
  height: 2rem;
  background-color: #0087ca;
}

@media (max-width: 600px) {
  .box {
    display: flex;
    flex-direction: column;
  }
  .box .book-img {
    width: auto;
  }

  .box .info {
    text-align: center;
  }
}
