@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

.loading-icon {
  margin: 1rem auto;
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid #0087ca;
  width: 90px;
  height: 90px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  text-align: center;
  border: 5px solid red;
  margin: 2rem;
  padding: 3rem;
}
